
.judul {
    padding:10px;
    text-align: center;
    background-color:#0B666A;
    color:#EEEEEE
}
.gbrsegitiga {
    width: 150px;
    height: auto;
}
.link {
    background-color:#0B666A; 
    color:#EEEEEE; 
    font-family: sans-serif;
    font-weight: 1000;
    padding: 10px;
    border-radius: 10px;
}

input, button {
    margin: 5px;
}

#result {
    margin-top: 10px;
    font-weight: bold;
}

.luas {
    width: 100%;
    height: auto;
    border-radius: 10px;
    background-color: #0B666A;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.keliling{
    width: 100%;
    height: auto;
    border-radius: 10px;
    background-color: #0B666A;
}

.wrapper{
    width:100%;
    height: auto;
    text-align: center;
    padding: 10px;
    color: white;
    margin: 5px;
    display: flex;
}

.btn{
    font-family:sans-serif;
    font-weight: bold;
    padding: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #e0e0e0;
    border-radius: 5px;
}
body {
    margin: 0;
    padding-left: 200px;
    padding-right: 200px;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}